.contactsContainer {
    margin: 0 50px;
    padding: 50px;
    max-width: 769px;
    border: 1px solid;
}

.header {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    margin-top: 70px;
}

.contacts img {
    height: 70px;
    border-radius: 50%;
}


