.contactsContainer {
    padding: 20px 30px 70px 30px;
    border: 1px solid black;
    border-radius: 10px;
    background: #3d3d3d;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
}

.contacts img {
    height: 50px;
    border-radius: 15%;
}


