.skills {
    padding: 25px 30px 50px 30px;
    border: 1px solid black;
    border-radius: 10px;
    background: #3d3d3d;
}

.headerSkills {
    margin-bottom: 40px;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    gap: 22px;
    justify-content: space-between;
    max-width: 388px;
}

.icons {
    height: 55px;
    width: 55px;
    background: #ffffff;
    border-radius: 10px;
    padding: 3px;
}