.main {
    padding: 50px;
    border: 1px solid;
}

.header {
    border-bottom: 2px solid;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .main {
        width: auto;
    }
    .header {
        width: auto;
    }
}