.main {
    padding: 25px 30px 50px 30px;
    border: 1px solid black;
    border-radius: 10px;
    background: #3d3d3d;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fae8ff;
    font-size: 1.2rem;
}

@media (max-width: 767px) {
    .main {
        width: auto;
    }
    .header {
        width: auto;
    }
}