.profile {
    min-height: 100vh;
    max-width: 769px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 210px 10px 10px 10px;
}

.image {
    height: 220px;
    width: 220px;
    border: 8px solid white;
    border-radius: 50%;

}

.textHi {
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    color: #3d3d3d;
}

.textName {
    font-size: 4.5rem;
    font-weight: bold;
    margin-left: 20px;
    color: #ff014f;;
}

.textRD {
    font-size: 4rem;
    font-weight: bold;
    color: #3d3d3d;
    text-align: left;
}

.description {
    font-size: 1.5rem;
    color: #3d3d3d;
    margin-block-start: 2em;
    margin-block-end: 2em;
    text-align: left;
}

.buttons {
    justify-content: center;
    align-items: center;
}
.buttons button {
    font-size: 1.6rem;
    margin: 0 20px;
    padding: 10px 15px;
    height: auto;
    width: auto;
    border-radius: 5px;
    border: none;
    background-color: #c6c6c6;
}
