.profile {
    min-height: 100vh;
    flex: 0 0 50%;
    position: sticky;
    top: 0;
}

.profile2 {
    position: sticky;
    top: 60px;
    padding: 50px;
}

.image {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.textGroup {
    margin-top: 30px;
}

.textHi {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #3d3d3d;
}

.textRD {
    font-size: 3rem;
    font-weight: bold;
    color: #3d3d3d;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 355px;
    margin-top: 20px;
}

.buttons button {
    font-size: .9rem;
    font-weight: bold;
    color: #131313;
    margin: 10px 0;
    padding: 8px 12px;
    height: auto;
    width: auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #eeeeee;
}

.linkToGitHub {
    text-decoration: none;
}

@media (max-width: 1280px) {
    .profile2 {
        position: initial;
        top: 284px;
    }

    .profile {
        min-height: 100%;
    }
}

@media (max-width: 767px) {
    .profile {
        position: initial;
    }
    .container {
        margin: 0;
        padding: 0;
    }
}

