.myProjects {
    padding: 20px 30px 70px 30px;
    border: 1px solid black;
    border-radius: 10px;
    background: #3d3d3d;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 360px;
    word-wrap: revert;
    color: #fae8ff;
    font-size: 1.2rem;
}
.projects {
    display: grid;
    gap: 5px;
    margin-bottom: 10px;
}
.titleProject {
    font-size: 1.3rem;
    font-weight: bold;
}
.descriptionProjects {
    word-wrap: break-word;
}

.stackContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stackHeader {
    font-size: 1.1rem;
    font-weight: 600;
}
.stack {
    font-size: 1.1rem;
    margin: 5px 5px 5px 0;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    line-height: .8rem;
}
