.myProjects {
    margin: 0 50px;
    padding: 50px;
    border: 1px solid;
    max-width: 769px;
}

.header {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.projectsContainer {
    min-width: 360px;
    word-wrap: revert;
}
.projects {
    display: grid;
    grid-template-columns: 120px minmax(300px, auto);
    gap: 10px;
    margin-bottom: 10px;
}
.project {
    height: 120px;
    width: 120px;
    background-color: #e0cfd0;
}
.descriptionProjects {
    word-wrap: break-word;
}
